services:
  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=sulmap'
      - 'MYSQL_PASSWORD=ssafy'
      - 'MYSQL_ROOT_PASSWORD=ssafy'
      - 'MYSQL_USER=ssafy'
    ports:
      - '33060:3306'
    volumes:
      - 'db-data:/var/lib/mysql'
      - './db/init:/docker-entrypoint-initdb.d'

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.2
    container_name: es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false         # 테스트용
    ports:
      - "9200:9200"

  es-init:
    image: curlimages/curl:latest
    depends_on:
      - elasticsearch
    volumes:
      - ./es/init:/init
    entrypoint: ["/bin/sh", "/init/es_init.sh"]
    environment:
      - ES_URL=http://elasticsearch:9200
      - INDEX_NAME=bars
      - INDEX_JSON_PATH=/init/index_bars.json
      - SEED_NDJSON_PATH=/init/bars_seed.ndjson


volumes:
  db-data: